.all {
  width: 1500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-basis: 1000px;
  position: relative;
}

.card {
  display: flex;
  height: 750px;
}

body {
  display: flex;
  justify-content: space-evenly;
}

h2, 
h3 {
  font-size: 20px;
  
}

h2 {
  font: 'Roboto Mono';
}

.soldout {
  position: absolute;
  top: 50px;
  left: -100px;
}
